_extends: .github

repository:
  # See https://developer.github.com/v3/repos/#edit for all available settings.

  # A short description of the repository that will show up on GitHub
  description: ä·– Slog handler that maps different handlers to different log levels

  # A comma-separated list of topics to set on the repository
  topics: atomicgo, go, golang, golang-library, slog, structured logging, log, logging, stderr, stdout

  # Either `true` to make the repository private, or `false` to make it public.
  private: false

  # Either `true` to enable issues for this repository, `false` to disable them.
  has_issues: true

  # Either `true` to enable projects for this repository, or `false` to disable them.
  # If projects are disabled for the organization, passing `true` will cause an API error.
  has_projects: false

  # Either `true` to enable the wiki for this repository, `false` to disable it.
  has_wiki: false
